@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
body{
    
    background: #08001b;
    min-height: 150vh;
    

}
.titolo {
   color: #fff;
   /* display: block; */
   top: 500px;
   display: flex;
   justify-content: center;
  
}
.bg-forni{
    background-color: rgb(93, 115, 126);
}
.container{
    width: 1100px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
}

.container .cards{
    position: relative;
    width: 300px;
    height: 400px;
    background: #0c002b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px; 
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    overflow: hidden;

}
.container::hover .cards{
    opacity: 0.2;
}
.container .cards::hover{
    opacity: 1;
}
.container .cards ::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;

}
.container .cards .content{
    padding: 30px;
    text-align: center;

}
.container .cards .content h2{
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: #1779ff;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container .cards::hover .content h2{
    opacity: 1;
    transform: translateY(-70px);

}
.container .cards .content h3{
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5;
}

.container .cards .content p{
    position: relative;
    font-size: 1em;
    color: #fff;
    z-index: 2;
    font-weight: 300;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5;
}
.container .cards::hover .content h3,
.container .cards::hover .content p{
    opacity: 1;

}
.container .cards .content a{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #fff;
    color: #0c002b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

}
/* .container .cards span{
    transition: 0.5s;
    opacity: 0;
} */
.container .cards::hover span{
    opacity: 1;
}
.container .cards span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%
    {
        transform: translateX(-100%);

    }
    100%
    {
        transform: translateX(100%);

    }
}
.container .cards span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%
    {
        transform: translateY(-100%);

    }
    100%
    {
        transform: translateY(100%);

    }
}
.container .cards span:nth-child(3){
    position: absolute;
    bottom: 0;
    top: 100;
    left: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3{
    0%
    {
        transform: translateX(100%);

    }
    100%
    {
        transform: translateX(-100%);

    }
}
 .container .cards span:nth-child(4){
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 2px;
    width: 3px;
    height: 100%;
    background:linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4{
    0%
    {
        transform: translateY(100%);

    }
    100%
    {
        transform: translateY(-100%);

    }
} 